<!-- CONTENEDOR DE CAMPO DE BÚSQUEDA
  RENGLON de la rejilla de Bootstrap
  "row"             = Renglón de la rejila de BOOTSTRAP
  "animated fadeIn" =
-->
<div class="row animated fadeIn">
  <!-- COLUMNA de la rejilla de Bootstrap
    "col-12" = En cualquier display ocupará 12 columnas de su contenedor padre
  -->
  <div class="col-12">
    <!--
      "card" = El contenedor se prepara para poder ser una “caja” que pueden mostrar texto
    -->
    <div class="card">
      <!--
        "card-body"       = Contenedor (que está dentro de otro con la etiqueta “card”) que contiene el texto a mostrar dentro de una “caja”
        "#input"          = Hacer referencia para a este campo para obtener lo que sea que esté escribiendo el Usuario
        "(keyup)"         = Cuando alguien presione o suelte uan tecla
        "( input.value )" = Se manda de valor lo que se haya tecleado (se usa la referencia local "#input")
      -->
      <div class="card-body">
          <input id="buscaMedico" type="text" class="form-control" placeholder="Buscar Médico...">
      </div>
    </div>
  </div>
</div>

<!-- CONTENEDOR PARA ÍCONO Y MENSAJE DE ESPERA
  RENGLON de la rejilla de Bootstrap
  "row"             = Renglón de la rejila de BOOTSTRAP
-->
<div class="row animated fadeIn" *ngIf="cargando">
  <!-- COLUMNA de la rejilla de Bootstrap
    "col-12" = A partir de un display Chico (Small) ocupará 12 columnas de su contenedor padre
  -->
  <div class="col-sm-12">
    <!--
      "alert"           = Se crea una alerta
       "alert-warning"  = Formato de la alerta: success, info, warning, etc.
      "text-center"     = Centra el texto
      -->
    <div class="alert alert-warning text-center">
      <!--
        "<strong>" = El texto se pone en negritas
      -->
      <strong>Cargando</strong>
      <br>
      <!--
        "fa-refresh"  = Poner el icono de "recarga"
        "fa-spin"     = para que tenga le efecto de girar
        "fa-2x"       = Tamaño del ícono, puede ser de 1 a 5
      -->
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<!-- CONTENEDOR PARA CREAR UNA TABLA

-->
<div class="row animated fadeIn" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Contenedor del Botón "Crear Medico" -->
        <div class="text-right">
          <!--
            "rounded"       = Esquinas redondeadas
            "float-right"   = El botón se mantiene "flotando" siempre al a derecha del contenedor
            "waves-effect"  = Proporciona el efecto del clic, es un efect ode onda ya sea oscuro o claro
            "waves-light"   = Efecto claro
            "[routerLink]="['/medico','nuevo']"" = El "routerLink" nos va a llevar al componente "medico" con el argumento "nuevo"
          -->
          <button [routerLink]="['/medico','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Crear Médico
          </button>
        </div>

        <h3 class="card-title">Médicos registrados ( <small>{{ totalRegistros }}</small> ) </h3>
        <!--
          "table"       = Se crea uan tabla, se le dan automáticamente estilos CSS
          "table-hover" = Agrega el efecto “hover” al pasar el mouse sobre una fila
        -->
        <table class="table table-hover">
          <!--
            "<thead>" = Está prsente sólo una vez en la tabla y debe estar antes del cuerpo de la misma
                      Contitene un bloque de filas (<tr>) que representa al asección del encabezado de la tabla
          -->
          <thead>
            <!-- "<tr>" = Renglón -->
            <tr>
              <!-- "<th>" = Columna -->
              <th>Imagen</th>
              <th>Nombre de Médico</th>
              <th>Hospital</th>
              <th>Estatus</th>
              <th></th>
            </tr>
          </thead>
          <!-- Cuerpo de la Tabla -->
          <tbody>
            <tr *ngFor="let medico of medicos">
              <!-- <<<<<< Previwew de la Imagen del Médico >>>>>>
                  "img-70"      = Clase definida en el archivo "styles.css" que está dentro de la carpeta "src"
                -->
              <td class="img-70">
                <!-- <<<<<< Previwew de la Imagen del Médico >>>>>>
                  "imagen:'medico'" = Es el nombre del "pipe" definido en el archivo "imagen.pipe.ts" dentro de la carpeta "pipes", para este
                                      caso sí especificamso de que tipo es (el tipo por default es 'usuarios')
                  "img-50"            = Clase definida en el archivo "styles.css" que está dentro de la carpeta "src"
                  "img-circle"        = Redondea la imagen
                  "pointer"           = Clase para poner el puntero de la "manita" definida en "styles.css"
                  <img (click)="mostrarModal( medico._id )" [src]="medico.img | imagen:'medico'" class="img-50 pointer">
                -->
                <img [src]="medico.img | imagen:'medico'" class="img-50">
              </td>
              <!-- <<<<<< Nombre >>>>>> -->
              <td>
                  {{ medico.nombre }}
              </td>
              <!-- <<<<<< Hospital >>>>>> -->
              <td>
                {{ medico.hospital.nombre }}
              </td>
              <!-- <<<<<< Botón para Editar el Registro del Médico >>>>>> -->
              <td>
                <button [routerLink]="['/medico',medico._id]" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Editar Registro">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- CONTENEDOR DE LOS BOTONES "Siguiente" y "Anterior" -->
<div class="row">
  <div class="col-12 text-center">
    <!-- Botón para Ir una página atras -->
    <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-1" [disabled]="desde < 5" >
      &laquo; Anterior
    </button>
    <!-- Botón para ir una página adelante -->
    <button (click)="cambiarDesde(5)" class="btn btn-secondary" [disabled]="desde + 5 >= totalRegistros">
      Siguiente &raquo;
    </button>
  </div>
</div>
