<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <!--
        "#f="ngForm""       = Creamos una referencia local al formulario
        "( f )"             = Significa que vamos a mandar todo el formulario
        "ngNativeValidate" = Activa las validaciones establecidad en el HTML, en este caso lo requerimos para los campos "required",
                            para que al dar cli en el botón INGRESAR si el campo no tiene datos aparezca el mensaje de alerta
      -->
      <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" (ngSubmit)="Ingresar( f )">
        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-icon.png" alt="Home" /><br/><img src="assets/images/logo-text.png" alt="Home" /></a>
        <!-- <<<<<< Correo del Usuario >>>>>> -->
        <div class="form-group m-t-40">
          <div class="col-xs-12">
          <!--
            "[ngModel]="email"" = Asociamos al Input a una variable, pero sin paréntesis, porque no se requiere una relación directa con el campo, solo deseamos
                                que en HTML se ponga el valor inicial del campo "email"
            "name="email""      =
          -->
            <input [ngModel]="email" name="email" class="form-control" type="email" required placeholder="Correo del Usuario" autocomplete="off"
            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </div>
        </div>
        <!-- <<<<<< Contraseña >>>>>> -->
        <div class="form-group">
          <div class="col-xs-12">
            <input ngModel name="password" class="form-control" type="password" required placeholder="Contraseña" minlength="5" maxlength="10">
          </div>
        </div>
        <div class="form-group row">
          <!-- <<<<<< Enlace de RECUERDAME >>>>>> -->
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <!--
                "[(ngModel)]="recuerdame"" = Lo enlazamos a una propiedad para que podamos asignarle por default el valor "false" y así no nos envíe una cadena vacía
                                            cuando no es "true"
              -->
              <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> Recuérdame </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Olvidaste la Contraseña?</a>
          </div>
        </div>
        <!-- <<<<<< Boton INGRESAR >>>>>> -->
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Ingresar</button>
          </div>
        </div>
        <!-- <<<<<< Boton de GOOGLE (para hacer Autenticación cn Sign-In) >>>>>> -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social">
              <button type="button" id="btnGoogle" class="btn btn-googleplus" data-toggle="tooltip" title="Iniciar Sesión con Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </button>
            </div>
          </div>
        </div>
        <!-- <<<<<< Enlace de CREAR CUENTA >>>>>> -->
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            No tienes una Cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Crear Cuenta</b></a>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar Contraseña</h3>
              <p class="text-muted">Ingrese el Correo Electrónico y las instrucciones serán enviadas ahí !! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Correo Electrónico">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reiniciar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
