<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <!--
                    "imagen" = Es el nombre del "pipe" definido en el archivo "imagen.pipe.ts" dentro de la carpeta "pipes", no especificamos
                             el tipo porque recordemos que por default toma el tipo "usuarios"
                    -->
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img [src]="usuario.img | imagen" alt="user" />
                      <span class="hide-menu">{{ usuario.nombre }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="/perfil">Perfil</a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a routerLinkActive="active" routerLink="/account-settings">Account Setting</a></li>
                        <li><a (click)="_servicioUsuario.logOut()" class="pointer">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <!-- Generamos el Menu -->
                <!-- Recorremos el array que definimos en "sidebar.service.ts" -->
                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu">{{ menu.titulo}} <span class="label label-rouded label-themecolor pull-right">{{ menu.submenu.length }}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <!-- Generamos el Submenu -->
                        <li *ngFor="let submenu of menu.submenu">
                            <!-- "[ submenu.url ]" = Como este valor es un elemento de angular requerimos mandarlo como un arreglo porque posiblemente
                                                    despues ocupemos opciones del menú que lleven parámetros y se mandan como otros elementos al arreglo
                            -->
                            <a routerLinkActive="active" [routerLink]="[ submenu.url ]">{{ submenu.titulo }} </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
