/* ID del componente "account-settings.html" */

#themecolors a {
    /* Al pasar el ratón sobre el enlace "a" que sep onga el puntero de "manita" */
    cursor: pointer;
}


.pointer
{
  cursor: pointer;  /* Cursor de tipo "manita" */
}


/* Clase de la imagen del Preview del avatar del Usuario ()profile.component.html */
.w150
{
  width: 150px; /* Ancho */
}


